.details{
    margin: 130px 150px;
    display: grid;
   grid-template-columns: 2fr 1fr;
   gap: 30px;
   
}
.give{
    width: 360px;
    height: 461px;
    background-color: rgba(124, 143, 255, 0.2);
    border-radius: 8px;
    padding: 30px;
}
.hr{
    border-color: black;
}
.fontAwesome{
    color: rgba(124, 143, 255, 1);
}